.main-carousel{
   height: 100vh;
}
.card .car-img{
    margin: 3rem; 
    width: 100%;
    cursor: pointer;
}
.card .car-img:hover{
    background-image: #fff;
    z-index: 1;
    opacity: .4;
    transition: all .6s;
}

@media only screen and (max-width: 480px){
    .slick-slide{
       width: 100%;
    }
    .slick-list{
        overflow: hidden;
    }
}