
.hero{
    min-height: 60vh;
}
.mainimg{
     max-height: 60vh;
     min-height: 60vh;
    margin-top: 65px;
}
.text1{
   background: #fff; 
   color: dark;
  
   padding: 1rem 2rem;
   font-size: 5rem;
   text-align: center !important;
   max-width: 45rem;
   opacity: .8;
   margin-top: 120px;
}
.text2{
    background:var(--lgradient); 
    color: #fff;
    padding: 1rem 2rem;
    font-size: 3rem;
    text-align: center !important;
    max-width: 35rem;
    opacity: .8;
    margin-top: 1rem;
   
 }
 @media only screen and (max-width:768px){
    .text1{
        font-size: 3.5rem;
    }
    .text2{
        font-size: 2.5rem;
    }
 }