.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
 
}
.card-body{
    position: relative;
   
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 205px;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card-body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 3px solid transparent;
    border-image: var(--lgradient);
    border-image-slice: 1;
    border-radius: 5px;
}
.card-body:hover{
    transform: scale(1.02);
    transition: all .7s;
}
.card-title{
    margin: auto;
    font-size: 22px !important;
    font-weight: 500 !important;
    position: relative;
    display: inline-block;
    cursor: pointer;
    
 
    
}
.card-title::before {
    content: " ";
    position: absolute;
    bottom:0 ;
    left: 0;
    width: 0;
    height: 3px;
    background-color:var(--orange); /* Çizgi rengi */
    transition: width 1s ease; /* Animasyon süresi ve geçiş tipi */
  }
  .card-title:hover::before {
    width: 100%;
  }
 .card-text{
    text-align: justify; 
    color: #333;
 }